.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.display-photo {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin-top: 100px;
}

nav {
  background: black;
  position: fixed;
  padding-top: 5px;
  width: 100vw;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

nav ul li {
  margin-right: 15px;
  color: #ffffffbf;
}

nav ul li:first-child {
  color: #fff;
  margin-right: 30px;
  font-size: 22px;
}

body {
  background-color: #191b1f !important;
}

img {
  max-width: 100%;
}

nav a {
  color: #ffffffbf;
  text-decoration: none;
}

nav a:hover {
  color: #ffffff81;
}

.social-links a:hover {
  opacity: 0.7;
}
.social-links a img {
  width: 40px;
}
.social-links {
  margin-top: 25px;
}

hr {
  margin: 40px 10px;
}
.input-label {
  font-weight: 700;
  padding-bottom: 10px;
}
.contact-submit {
  padding: 10px 30px;
  font-size: 20px;
  border-radius: 10px;
  font-weight: 700;
}
.contact-form-body {
  width: 500px;
  min-height: 200px;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
}
.styled-input {
  width: 500px;
  font-size: 20px;
}
.nav-item {
  border-bottom: 5px;
  border-bottom: #a64bf4;
  border-bottom: -webkit-linear-gradient(
    right,
    #21d4fd,
    #b721ff,
    #21d4fd,
    #b721ff
  );
  border-bottom: -o-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
  border-bottom: -moz-linear-gradient(
    right,
    #21d4fd,
    #b721ff,
    #21d4fd,
    #b721ff
  );
  border-bottom: linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
  top: 0;
  left: -100%;
}

@media screen and (max-width: 768px) {
  .contact-form {
    padding: 0 10px;
    margin-top: 50px;
  }
  .project-img {
    max-height: 448px;
    width: 100%;
  }
  .styled-input {
    width: 100%;
  }
  .contact-form-body {
    width: 100%;
  }
}

@media screen and (min-width: 769px) {
  .project-img {
    max-height: 268px;
    width: 100%;
  }
}

/* img gif animation*/
.fade-in-image {
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
